src/node_modules
src/*.zip
registration/node_modules
registration/*.zip
registration/token-secret.json
registration/client_secret.json
registration/store/clients/*
registration/store/credentials/*
registration/store/tokens/*

